*{
  padding: 0;
  margin: 0;
  width:100%;
  background-color: black;
}

html{
  width: 100%;
}

body{
  font-family: 'Roboto';font-size: 22px;
  width: 100%;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black; 
  border-bottom: 0.1vw solid white;
}

.nav h1{
  width: fit-content;
  font-size: 4vw;
  padding: 1vw 4vw;
  color: white;
  font-family: 'Dancing Script', cursive;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  font-size: 1.4vw;
  width: 50%;
  padding: 0vw 2vw 0vw 2vw;
  list-style: none;
  align-items: center;   
}

.nav-bar li{
  padding: 1.5vw 1vw;
  width: fit-content;
}


.nav-bar li a{
  text-decoration: none;
  padding: 0;
  color: white;
  font-weight: bolder;
}

.nav-lines{
  display: none;
 
}

.nav-mobile{
  display: none;
}

.bars{
  display: none;
}

.hbars{
  display: none;
}

/* Home */

.home{
  display: flex;
  gap: 16vw;
  width: 80%;
  padding-top: 5vw;
  background-color: black;
  color: white;
  margin: auto;
  letter-spacing: 0.3vw;
  line-height: 2.2vw;
}

.home .intro{
  width: 60%;
}

.home .intro p{
  font-size: 1.2vw;
  padding: 1vw 4vw;
  font-family: 'Roboto';

}

.home .intro h1{
  font-size: 3vw;
  font-family: 'Roboto';
  color: chartreuse;
  padding: 0vw 4vw 1vw 4vw;
}

.profile{
  width: 40%;

}

.profile img{
  width: 22vw;
  border-radius: 1vw;
  
}


/* About ME */

.about{
  color: white;
  width: 80%;
  margin-left: 10%;
  padding-top: 5vw;
  letter-spacing: 0.2vw;
  
}

.about h1{
  font-size: 3vw;
  margin: 3vw auto;
  padding: 2vw 2vw 2vw 2vw;
  border: 0.1vw solid chartreuse ;
  width: fit-content;
  border-radius:2vw;
  
}

.about h4{
  font-size: 2.2vw;
  padding: 1vw 1vw 1vw 1vw;
  border-bottom: 0.1vw solid chartreuse ;
  width: fit-content;
  border-radius:2vw;
  margin: 2.5vw 0;
}

.about span{
  color: chartreuse;
}

.details{
  /* border: 2px solid white; */
}

.details td{
  font-size: 2vw;
  /* border: 2px solid white; */
  width: 50%;
  padding: 1.8vw 0vw;
}

.details td span{
  font-size: 2vw;
  /* border: 2px solid white; */
  width: 50%;
  padding: 1.8vw 0vw;
  color: rgb(152, 147, 147);
}

.skills{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 8vw;
  padding-top: 3vw;
}

.skills h3{
  position: relative;
  top: 11vw;
  text-align: center;
  font-size: 1.8vw;
  
}

.circular-bar1{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(0, 0, 0, 100%) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 90%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}
.circular-bar2{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(0, 0, 0, 100%) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 70%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}
.circular-bar3{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(0, 0, 0, 100%) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 60%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar4{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(0, 0, 0, 100%) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 60%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar5{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(0, 0, 0, 100%) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 40%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar6{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(0, 0, 0, 100%) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 85%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar7{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(0, 0, 0, 100%) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 70%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar8{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(0, 0, 0, 100%) 70%, transparent 70% 100%),
  conic-gradient(chartreuse  50%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.html-bar{
  width: fit-content;
  position: absolute;
  z-index: 0;
  top: 3.8vw;
  left: 3.4vw;
  text-align: center;
}

.skills p{
  margin: 0;
  font-size: 1.6vw;
  text-align: center;
}

/* Projects */

.projects{
  color: white;
  width: 80%;
  margin-left: 10%;
  padding-top: 5vw;
  letter-spacing: 0.2vw;
  
}

.projects h1{
  font-size: 3vw;
  margin: 3vw auto;
  padding: 2vw 2vw 2vw 2vw;
  border: 0.1vw solid chartreuse ;
  width: fit-content;
  border-radius:2vw;
}

.projects span{
  color: chartreuse;
}





@media screen and (max-width:820px) {

  .nav-bar{
    display: none;
  }

  .nav .logo{
    display: none;
  }

  .nav-lines{
    display: block;
    position: absolute;
    text-align: center;
    list-style: none;
    background-color: cadetblue;
    width: 100%;
    transition: 2s;
  }
  
  .nav-mobile{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    width: 100%;
  }
  button{
    width:2vw;
    position: relative;
    z-index: 3;
  }
  .bars{
    width: 2vw;
  }
}