*{
  padding: 0;
  margin: 0;
  color: black;
}

html{
  width: 100%;
}

body{
  font-family: 'Roboto';font-size: 22px;
  width: 100%;
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1vw solid white;
  background-color: aquamarine;
}

.nav h1{
  width: fit-content;
  font-size: 4vw;
  padding: 1vw 4vw;
  color: black;
  font-family: 'Dancing Script', cursive;
  z-index: 5;
  
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  font-size: 1.4vw;
  width: 50%;
  padding: 0vw 2vw 0vw 2vw;
  list-style: none;
  align-items: center;   
}

.nav-bar li{
  padding: 1.5vw 1vw;
  width: fit-content;
}


.nav-bar li a{
  text-decoration: none;
  padding: 0;
  color: black;
  font-weight: bolder;
}

.nav-lines{
  display: none;
 
}

.nav-mobile{
  display: none;
}

.bars{
  display: none;
}

.hbars{
  display: none;
}

/* Home */

.home{
  display: flex;
  gap: 16vw;
  width: 80%;
  padding-top: 5vw;
  color: white;
  margin: auto;
  letter-spacing: 0.3vw;
  line-height: 2.2vw;
}

.home .intro{
  width: 60%;
}

.home .intro p{
  font-size: 1.2vw;
  padding: 1vw 4vw;
  font-family: 'Roboto';

}

.home .intro h1{
  font-size: 3vw;
  font-family: 'Roboto';
  color: chartreuse;
  padding: 0vw 4vw 1vw 4vw;
}

.profile{
  width: 40%;
}

.profile img{
  width: 22vw;
  border-radius: 1vw;
  background:linear-gradient(to bottom right, rgb(243, 242, 242), rgb(131, 131, 130))
  
}


/* About ME */

.about{
  color: white;
  width: 80%;
  margin: 3vw auto;
  padding: 2vw 0 3vw 0;
  letter-spacing: 0.2vw;
  background-color: aquamarine;
  border-radius: 2vw;
}



.about h1{
  font-size: 2.6vw;
  margin: 1vw auto;
  padding: 1vw;
  border: 0.1vw solid chartreuse ;
  width: fit-content;
  color: rgb(224, 18, 18);
  border-radius:2vw;
  
}

.about p{
  text-align: justify;
}
.about h4{
  font-size: 2.2vw;
  padding: 1vw 1vw 1vw 1vw;
  border-bottom: 0.1vw solid chartreuse ;
  width: fit-content;
  border-radius:2vw;
  margin: 2.5vw 0;
}

.about span{
  color: chartreuse;
}
/* 
.details{
  width: 80%;
}

.details td{
  font-size: 1vw;
  /* border: 2px solid white; */
  /* width: 50%;
  padding: 1.8vw 0vw;
}

.details td span{
  font-size: 1vw;
  /* border: 2px solid white; */
  /* width: 50%;
  padding: 1.8vw 0vw;
  color: rgb(152, 147, 147);
}  */

.Details{
  width: 110%;
  display: flex;
  font-weight: bolder;
  gap: 5vw;
  margin-left: -3.8vw;
}

.Details .short-intro{
  width: 80%;
  padding: 3vw;
  font-size: 1.6vw;
  align-self: center;
  line-height: 3vw;
  background-color : rgb(54, 146, 146);
  border-radius: 2vw;

}



.Details .short-intro span{
  font-size: 3vw;
  padding: 0vw 0vw 0vw 7vw;
  
}

.Details .personal-info{
  width: 50%;
  padding: 1vw;
  font-size: 1.2vw;
  background-color : rgb(54, 146, 146);
  border-radius: 2vw;
  
  
  
}

.Details .personal-info h2{
  font-size: 2.8vw;
  padding: 0.5vw 0vw;
}
.table{
  width: 100%;
  letter-spacing: 0vw;
  padding: 2vw 1vw 2vw 0vw;
}



.table tr td{
  width: 60%;
  padding: 0.5vw 1vw ;
}

.table tr .hlight{
  width: 60%;
  padding: 0.5vw 1vw ;
  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  font-weight: 800;
}

.main{
  width: 80%;
  margin: 3vw auto;
  background-color: rgb(54, 146, 146);
  border-radius: 2vw;
  align-items: center;
  text-align: center;
  padding: 3vw 3vw;
}


.skills{
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 6.5vw 8vw;
  padding-top: 3vw;
  margin: auto;
  padding-bottom: 5vw;
  
}

.skills h3{
  position: relative;
  top: 11vw;
  text-align: center;
  font-size: 1.8vw;
}

.skills .cb{
  padding: 0vw;
  margin: auto;
}

.circular-bar1{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgb(255, 255, 255) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 90%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}
.circular-bar2{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(255, 255, 255) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 70%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}
.circular-bar3{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(255, 255, 255) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 60%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar4{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(255, 255, 255) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 60%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar5{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(255, 255, 255) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 40%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar6{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(255, 255, 255) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 85%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar7{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(255, 255, 255) 70%, transparent 70% 100%),
  conic-gradient(chartreuse 70%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.circular-bar8{
  width: 10vw;
  height: 10vw;
  background: 
  radial-gradient(closest-side, rgba(255, 255, 255) 70%, transparent 70% 100%),
  conic-gradient(chartreuse  50%, rgb(152, 147, 147) 0); 
  border-radius: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
}

.html-bar{
  width: fit-content;
  position: absolute;
  z-index: 0;
  top: 3.8vw;
  left: 3.4vw;
  text-align: center;
}

.skills p{
  margin: 0;
  font-size: 1.6vw;
  text-align: center;
}


/* Projects */


.project-container{
  position: relative;
  width: 50%;
  height: 50vw;
  margin: 0 auto;
  border-radius: 1vw;
  text-align: center;
}

.project-container .main-img{
  width: 80%;
  border-radius: 1vw;
  z-index: 1;
  
}

.project-container .left-btn{
  position: absolute;
  top: 25%;
  font-size: 5vw;
  font-weight: 900;
  /* color: white; */
  left: -5%;
  z-index: 2;
}

.project-container .right-btn{
  position: absolute;
  top: 25%;
  font-size: 5vw;
  font-weight: 900;
  /* color: white; */
  right: -5%;
  z-index: 2;
}

.image-container{
  display: flex;
  justify-content: center;
}

.image-container img{
  object-fit: cover;
  aspect-ratio: 3/2;
  
}
.image-container .previous-img{
  width: 60%;
  position: absolute;
  left: -8vw;
  top: 5vw;
  opacity: 0.5;
}

.image-container .next-img{
  width: 60%;
  position: absolute;
  right: -8vw;
  top: 5vw;
  opacity: 0.5;
}

.project-dots{
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.project-dots h1{
  color: brown;
  font-size: 3vw;
}

.active, .project-dots h1:hover{
  color: aqua;
}

/* .projects{
  color: white;
  width: 80%;
  margin-left: 10%;
  padding-top: 5vw;
  letter-spacing: 0.2vw;
  position: relative;
  
}

.projects h1{
  font-size: 2.6vw;
  margin: 1vw auto;
  padding: 1vw;
  border: 0.1vw solid chartreuse ;
  width: fit-content;
  color: rgb(224, 18, 18);
  border-radius:2vw;
}

.projects span{
  color: chartreuse;
}

.project-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1vw;
}

.project-card h4{
  font-size: 2vw;
}

.project-card img{
  width: 100%;
}

.project-card p{
  font-size: 1.4vw;
}

.project-card a{
  font-size: 1.4vw;
  color: blue;
  text-decoration: none;
}

.project-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2vw;
} */

/* Contact Me */

.contactme{
  width: 80%;
  margin: 4vw auto;
  text-align: center;
  background-color: aquamarine;
  border-radius: 2vw;
  position: relative;
}

.form-details{
  width: 80%;
  margin: auto;
  padding: 0 2vw 2vw;
  
}

.form-details input, textarea{
  font-size: 1.3vw;
  padding: 1vw;
  margin:  1vw auto ;
  width: 90%;
}

.form-details textarea{
  font-size: 1.3vw;
  padding: 0.8vw;
  margin: 1vw 0;
  height: 8vw;
}

.form-details .submit{
  background-color: rgb(2, 2, 30);
  color: white;
}

.contactme h2{
  padding: 2vw;
  color: red;
  font-size: 2.5vw;
}






