*{
  padding: 0;
  margin: 0;
  width:100%
}

body{
  font-family: 'Roboto';font-size: 22px;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  font-size: 1.4vw;
  width: 35%;
  padding: 1vw 1vw 1vw 65%;
  list-style: none;
  background-color: cadetblue;  
}

.nav-lines{
  display: none;
 
}

.nav-mobile{
  display: none;
}

.bars{
  display: none;
}

.hbars{
  display: none;
}
/* .home{
  position: relative;
  top: 4vw;
  display: flex;
  padding: 4vw;
 justify-content: center;
}
.home .intro{
  padding: 5vw;
}
.home img{
  width: 200px;
  border-top-right-radius:5vw ;
  border-bottom-left-radius:5vw ;
  padding: 2vw;
}

.home h1{
  font-size: 5vw;
} */

@media screen and (max-width:820px) {

  .nav-bar{
    display: none;
  }

  .nav-lines{
    display: block;
    position: absolute;
    text-align: center;
    list-style: none;
    background-color: cadetblue;
    width: 100%;
    transition: 2s;
  }
  
  .nav-mobile{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    width: 100%;
  }
  button{
    width:2vw;
    position: relative;
    z-index: 3;
  }
  .bars{
    width: 2vw;
  }
 
}